
.flex-container-1, .flex-container-2 {
    display: flex;
}

.left-1, .left-2 {
    flex: 1;
    display: flex;
    flex-direction: column;

    width: 80%;

    /* border: 1px solid black; */

}

.left-1, .img-container-1, .left-2, .img-container-2 {
    margin: 2px;
}

.dlaczego-my-h{
    font-size: 3.5rem;
    font-weight:800;
    margin-left: 15rem;
    margin-top: 10rem;

    color: #0540F2;

    text-align: left;

    /* border: 1px solid black; */
}

.text-container-1, .text-container-2 {
    width: 80%;
}

.text-1 {
    
    margin-left: 15rem;
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 600;

    text-align: left;
    width: 70%;
}

.img-container-1 {
    width: 40%;
    height: 800px;
    overflow: hidden;
    position: relative;

    /* border: 1px solid black; */

}

.img-container-1 img {
    position: absolute;
    width: auto;
    height: 80%;
    top: 5%;
    left: 20%;
    transform: translateX(-7%);
}


.img-container-2 {
    width: 50%;
    height: 600px;
    overflow: hidden;
    position: relative;

    /* border: 1px solid black; */

}

.img-container-2 img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 5%;
    left: 20%;
    transform: translate(-68%, -5%);
    /* transform: translateY(-5%); */
}

.kim-jestesmy-h{
    font-size: 3.5rem;
    font-weight:800;
    margin-left: 10rem;
    margin-top: 2rem;

    color: #0540F2;

    text-align: left;

    /* border: 1px solid black; */
}

.text-2 {
    
    margin-left: 10rem;
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 600;

    text-align: left;
    width: 70%;
}

.white-box {
    height: 100px;
}

