

.dlaczego-my-h{
    font-size: 3rem;
    font-weight:800;
    color: #0540F2;
    margin-left: 4rem;
    margin-top: 3rem;
}

.textContainer1 {
    margin-left: 4rem;
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 600;

    text-align: left;
    width: 50%;
}