.header-background {
    position: relative;
    background-image: url('../../assets/bmwm4cs.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 200px 0;
    overflow: hidden;
}

.header-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-background h1 {
    position: relative;
    z-index: 2;
}