.Footer {
    width: auto;
    background-color: #040404;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer img {
    width: auto;
    height: 1.5rem;
    margin-left: 40rem;
}

.right {
    margin-right: 40rem;
}

.Footer p {
    color: white;
}